# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Data & models (khong push file nang len GitHub)
*.csv
*.npy
*.npz
*.h5
*.pt
*.pth
*.onnx
*.pkl
*.joblib
*.wav
*.zip
data/
datasets/
outputs/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
